
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 30px;
}

.text-2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.text-3 {
  font-family:'Montserrat', "Arial" serif;
  font-size: 25px ;
  text-align: center;

}
.text-4 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: overline;
  text-decoration-style: wavy;
  word-spacing: 30px;
}
.text-5 {
  letter-spacing: 5px;
  text-decoration: underline;
  text-decoration-thickness: 3px;

}