body {
  background-color: rgba(24, 30, 52, 1);
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 150%;
  color: white;
}

.container {
  max-width: 930px;
  margin: auto;
  padding: 0 15px;
  height: 100%;

}

.header {
  padding: 30px 0 36px;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: auto;
}

.header-list {
  display: flex;

}

.header-item {
  margin-right: 30px;
}

.header-button {
  padding: 14px 30px;
  border-radius: 100px;
  background: var(--Белый, rgba(255, 255, 255, 1));
  color: var(--Синий, rgba(39, 102, 174, 1));
  font-weight: 500;
  text-align: left;
}

.hero {
  padding: 120px 0;
  background: url("/img/hero-bg.jpg") 10% 50% / cover no-repeat;
}

.hero-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 436px;
}

.hero-text span {
  text-transform: uppercase;
  font-weight: 700;
  color: #01A2CB;
}

.paragraph {
  margin-bottom: 15px;
}

.hero-buttons {

  width: 320px;
  display: flex;
  flex-direction: column;

}

.hero-button-one {
  border-radius: 100px;
  background: linear-gradient(180.00deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
  display: flex;
  justify-content: center;
  padding: 18px 30px;
  margin-bottom: 10px;

}

.hero-button-two {
  border-radius: 100px;
  background: linear-gradient(129.14deg, rgba(0, 164, 204, 1), rgba(39, 102, 174, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 30px;
}

.hero-button-two img {
  margin-left: 4px;
}

.cards {
  padding: 120px 0px;
}

.cards-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.cards-text {
  text-align: center;
  max-width: 513px;
  margin: 0 auto 60px;
}

.cards-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px;
  margin-bottom: -28px;
  padding-bottom: 30px;
}

.cards-flex-item {
  margin-bottom: 28px;
  padding: 0 14px;
  flex: 0 0 25%;
}

.cards-flex-inner {
  box-sizing: border-box;
  border: 2px solid rgba(23, 107, 174, 1);
  border-radius: 16px;
  box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
  background: rgba(25, 124, 184, 1);
  padding: 28px 15px;
}

.cards-flex-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.cards-flex-text {
  text-align: center;
}

.cards-button {
  display: block;
  border-radius: 100px;
  padding: 18px 30px;
  background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
  text-align: center;
  max-width: 436px;
  margin: 0 auto;
}


.footer {
  border-top: 1px solid #323952;
  padding: 60px 0;
}

.footer-inner {
  display: flex;
}

.footer-desc {
  max-width: 267px;
  margin-right: auto;
}

.footer-desc a {
  display: inline-block;
  margin-bottom: 15px;
}

.footer-col {
  max-width: 204px;
  width: 100%;
}

.footer-col-margin {
  margin-right: 28px;
}

.footer-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 10px;
}