.parent {
  background-color: aliceblue;
  width: 100%;
  height: 400px;
  padding: 10px 40px 20px 5px;
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}

.block {
  background: #5febed;
  background: radial-gradient(circle, rgba(95, 235, 237, 1) 39%, rgba(255, 255, 92, 1) 100%);
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid rgb(90, 90, 117);
  padding: 10px;
  margin: 0 20px 20px 0;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 23px 5px rgba(73, 94, 161, 0.47) inset;
  -moz-box-shadow: 0px 0px 23px 5px rgba(58, 57, 154, 0.47) inset;
  box-shadow: 0px 0px 23px 5px rgba(58, 57, 154, 0.47) inset;
}